@use "../../partials/typography" as *;
@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;

.inventory {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 125px;

    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    &__chevron {
        position:relative;
        top: 0.5rem;
        left: 0.5rem;
    }

    &__nav {
        padding: 0 1rem;

    }

    &__title {
        @include demi;
        padding: 0 1rem 1rem;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 0;
    }

    &__form {
        position: relative;


        &-search {
            width: 100%;
            height: 36px;
            border: 1px solid #BDC5D5;
            box-sizing: border-box;
            border-radius: 20px;

            &::placeholder {
                padding-left: 15px;
                color: #5C667E;
                font-size: 13px;
                line-height: 20px;
                @include regular;
            }
            


            &-icon {
                position: absolute;
                right: 15px;
                top:6px;
            }
            
        }

    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 36px;
        background: #2E66E6;
        border-radius: 20px;
        margin: 1rem 0;
        border:none;

        &-text {
            width: 127px;
            height: 20px;
            @include demi;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
        }

    }

    &__information {
        padding: 1rem 0;
        border-top: 1px solid #BDC5D5;
        border-bottom: 1px solid #BDC5D5;
        display: flex;
        flex-direction: column;

        &-data {
            display: flex;
            justify-content: space-between;
        }

        &-top {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            width: 40%;
            margin-right: 1rem;
            
        }

        &-category {
            margin-top: 1rem;
        }

        &-contact {
            padding-right:2.5rem;

            &-information {
                margin-top: 1rem;
            }

        }

        &-bottom {
            display: flex;
            flex-direction: column;
            padding-right: 1.5rem;
           width: 7rem;
        }

    }

    &__subheader {
        @include demi;
        font-size: 11px;
        line-height: 16px;
        margin:0;
        color: #5C667E;




    }

    &__itemname {
        margin:0;
        @include demi;
        font-size: 13px;
        line-height: 20px;  
        color: #2E66E6;
        margin:0;
        margin-top:0.3rem; 

    }

    &__address {

        &-details {
            @include regular;
            font-size: 13px;
            line-height: 20px; 
            margin-top:0.3rem; 


        }
    }

    &__contact {

        &-number {
            @include regular;
            font-size: 13px;
            line-height: 20px; 
            margin:0;
            margin-top:0.3rem; 


        }

        &-email {
            @include regular;
            font-size: 13px;
            line-height: 20px;
            margin: 0; 
            
        }
        &-name {
            @include regular;
            font-size: 13px;
            line-height: 20px;
            margin:0;
            margin-top:0.3rem; 

        }
    }

    &__actions {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
    }


}