
@font-face {
    font-family: "Titillium";
    src: url("https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Titillium";
    src: url("https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Titillium";
    src: url("https://fonts.gstatic.com/s/titilliumweb/v9/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
